<a href="https://colab.research.google.com/github/JehadOumer/Arabic-Fake-News-Detection-Machine-Learning-Experiments/blob/main/notebooks/NER_extraction_Spacy_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive') 

import pandas as pd

Mounted at /content/drive

do not run below line - jehad

In [ ]:
cd "/content/drive/MyDrive/LCT Courses/NLP Applications 2/APP II-FINAL PROJECT"

/content/drive/.shortcut-targets-by-id/1XEy1wqrAkSUBTAL6hPR4p7-Su4aMDubx/APP II-FINAL PROJECT

In [ ]:
data_dir = "/content/drive/My Drive/APP II-FINAL PROJECT/data/paragraphs.csv"

In [ ]:
data_Spacy = pd.read_csv(data_dir)

FileNotFoundError: ignored

In [ ]:
print(data_Spacy)
print(data_Spacy.shape)

                                            paragraph               name
0   Barack Obama, the charismatic leader made hist...       Barack Obama
1   In the annals of American history, few names r...       Barack Obama
2   Barack Obama, the transformative figure in Ame...       Barack Obama
3   Malala Yousafzai has become a global symbol of...   Malala Yousafzai
4   The name Malala Yousafzai reverberates with th...   Malala Yousafzai
5   Malala Yousafzai, the embodiment of bravery an...   Malala Yousafzai
6   Beyoncé,  has left an indelible mark on the mu...            Beyoncé
7   Beyoncé, the multi-talented American sensation...            Beyoncé
8   Beyoncé, the embodiment of talent and grace, h...            Beyoncé
9   J.K. Rowling has captured the hearts and imagi...       J.K. Rowling
10  J.K. Rowling, the visionary behind the beloved...       J.K. Rowling
11  J.K. Rowling, the imaginative wordsmith, has b...       J.K. Rowling
12  Oprah Winfrey, a trailblazing figure in the wo...      Oprah Winfrey
13  The name Oprah Winfrey is synonymous with infl...      Oprah Winfrey
14  Oprah Winfrey, a true icon of our time, has re...      Oprah Winfrey
15  Emma Watson,  advocate for gender equality, ha...        Emma Watson
16  Emma Watson, the epitome of grace and talent, ...        Emma Watson
17  Emma Watson, a true force of inspiration, has ...        Emma Watson
18  Angela Merkel, a remarkable figure in global p...      Angela Merkel
19  Angela Merkel, a formidable presence in the re...      Angela Merkel
20  Angela Merkel, a prominent figure in contempor...      Angela Merkel
21  Nelson Mandela, an extraordinary leader and sy...     Nelson Mandela
22  Nelson Mandela, an extraordinary visionary and...     Nelson Mandela
23  Nelson Mandela, an iconic figure in the strugg...     Nelson Mandela
24  Michelle Obama, a remarkable figure in the pub...     Michelle Obama
25  Michelle Obama, a beacon of inspiration, has u...     Michelle Obama
26  Michelle Obama, a source of inspiration and st...     Michelle Obama
27  Known for her mesmerizing lyrics and captivati...       Taylor Swift
28  Taylor Swift, a trailblazing force in the musi...       Taylor Swift
29  Taylor Swift, a creative powerhouse, has carve...       Taylor Swift
30  Known for her infectious humor and magnetic ch...    Ellen DeGeneres
31  Ellen DeGeneres, an influential figure in the ...    Ellen DeGeneres
32  Ellen DeGeneres, a comedic powerhouse, has cap...    Ellen DeGeneres
33  Serena Williams, a force to be reckoned with, ...    Serena Williams
34  In the realm of sports, Serena Williams has be...    Serena Williams
35  Serena Williams, a true icon in the world of s...    Serena Williams
36  Cristiano Ronaldo, an athletic phenomenon, has...  Cristiano Ronaldo
37  In the realm of football, Cristiano Ronaldo's ...  Cristiano Ronaldo
38  Cristiano Ronaldo, a living legend in the worl...  Cristiano Ronaldo
39  Billie Eilish, a rising star in the music indu...      Billie Eilish
40  With her mesmerizing vocals and soulful storyt...      Billie Eilish
41  Billie Eilish, a prodigious talent, has taken ...      Billie Eilish
42  Kamala Harris, a trailblazing figure in politi...      Kamala Harris
43  With her unwavering determination and dedicati...      Kamala Harris
44  Kamala Harris, a trailblazer in the realm of p...      Kamala Harris
45  Priyanka Chopra, a versatile talent, has garne...    Priyanka Chopra
46  Recognized for her captivating performances an...    Priyanka Chopra
47  Priyanka Chopra, an international sensation, h...    Priyanka Chopra
48  Adele, a vocal powerhouse and soulful storytel...              Adele
49  With her unparalleled vocal range and heartfel...              Adele
50  Adele, a true vocal sensation, has made an ind...              Adele
51  Stephen Hawking, a brilliant mind in the world...    Stephen Hawking
52  With his exceptional intellect and insatiable ...    Stephen Hawking
53  Stephen Hawking, a luminary in the scientific ...    Stephen Hawking
54  Meghan Markle, an influential figure in contem...      Meghan Markle
55  With her remarkable poise and unwavering commi...      Meghan Markle
56  Meghan Markle, an inspirational figure, has us...      Meghan Markle
57  Tim Cook, a visionary leader, has made signifi...           Tim Cook
58  With his exceptional leadership skills and for...           Tim Cook
59  Tim Cook, a prominent figure in the technology...           Tim Cook
(60, 2)

In [ ]:
!pip install -U spacy

In [ ]:
import spacy

In [ ]:
nlp = spacy.load("en_core_web_sm")

for index, row in data_Spacy.iterrows():
    paragraph = row['paragraph']
    doc = nlp(paragraph)
    entities = [(entity.text, entity.label_) for entity in doc.ents]
    print(f"Row {index+1}: {entities}")

Row 1: [('Barack Obama', 'PERSON'), ('Obama', 'GPE'), ('American', 'NORP'), ('the Affordable Care Act', 'LAW'), ('millions', 'CARDINAL'), ('Americans', 'NORP'), ('Obama', 'PERSON')]
Row 2: [('American', 'NORP'), ('Barack Obama', 'PERSON'), ('first', 'ORDINAL'), ('African American', 'NORP'), ('Obama', 'PERSON'), ('Obama', 'GPE'), ('the United States', 'GPE')]
Row 3: [('Barack Obama', 'PERSON'), ('American', 'NORP'), ('the White House', 'ORG'), ('first', 'ORDINAL'), ('African American', 'NORP'), ('Obama', 'PERSON'), ('the Lily Ledbetter Fair Pay Act', 'ORG'), ('the United States', 'GPE'), ('Obama', 'PERSON'), ('the United States', 'GPE'), ('tomorrow', 'DATE')]
Row 4: [('Malala Yousafzai', 'PERSON'), ('the Swat Valley', 'LOC'), ('Pakistan', 'GPE'), ('Malala', 'GPE'), ('Taliban', 'ORG'), ('her Malala Fund', 'ORG'), ('Malala', 'PERSON'), ('millions', 'CARDINAL')]
Row 5: [('Malala Yousafzai', 'PERSON'), ('Pakistan', 'GPE'), ('Taliban', 'ORG'), ('Malala', 'PERSON'), ('Nobel', 'WORK_OF_ART'), ('Malala', 'PERSON')]
Row 6: [('Malala Yousafzai', 'PERSON'), ('the Swat Valley', 'LOC'), ('Pakistan', 'GPE'), ('Taliban', 'ORG'), ('Malala', 'PERSON'), ('Nobel Prize', 'WORK_OF_ART'), ('Malala', 'PERSON')]
Row 7: [('Beyoncé', 'ORG'), ('early days', 'DATE'), ("Destiny's Child", 'ORG'), ('Beyoncé', 'ORG'), ('Beyoncé', 'ORG'), ('"The Lion King', 'WORK_OF_ART')]
Row 8: [('Beyoncé', 'ORG'), ('American', 'NORP'), ('Beyoncé', 'ORG'), ('Beyoncé', 'ORG')]
Row 9: [('Beyoncé', 'ORG'), ('two decades', 'DATE'), ('Grammy Awards', 'ORG'), ('Time', 'ORG'), ('100', 'CARDINAL'), ('Beyoncé', 'ORG'), ('R&B', 'ORG'), ('Beyoncé', 'ORG')]
Row 10: [('J.K. Rowling', 'ORG'), ('millions', 'CARDINAL'), ('Harry Potter', 'PERSON'), ('Rowling', 'PERSON'), ('Rowling', 'PERSON')]
Row 11: [('J.K. Rowling', 'PERSON'), ('Harry Potter', 'PERSON'), ('Rowling', 'PERSON'), ('Rowling', 'PERSON')]
Row 12: [('J.K. Rowling', 'PERSON'), ('Harry Potter', 'PERSON'), ('Rowling', 'PERSON'), ('millions', 'CARDINAL'), ('Harry Potter', 'PERSON'), ('Dumbledore', 'PERSON'), ('Rowling', 'PERSON')]
Row 13: [('Oprah Winfrey', 'PERSON'), ('millions', 'CARDINAL'), ('Oprah', 'PERSON'), ('Oprah', 'PERSON')]
Row 14: [('Oprah Winfrey', 'PERSON'), ('Oprah', 'PERSON'), ('Oprah', 'PERSON')]
Row 15: [('Oprah Winfrey', 'PERSON'), ('Oprah', 'PERSON'), ('millions', 'CARDINAL'), ('Oprah', 'PERSON'), ('Oprah', 'PERSON')]
Row 16: [('Emma Watson', 'PERSON'), ('Hermione Granger', 'PERSON'), ('Harry Potter', 'PERSON'), ('Watson', 'PERSON'), ('Watson', 'PERSON'), ('HeForShe', 'EVENT'), ('UN', 'ORG'), ('Goodwill', 'PERSON')]
Row 17: [('Emma Watson', 'PERSON'), ('her early days', 'DATE'), ('Belle', 'GPE'), ('Beauty and the Beast', 'WORK_OF_ART'), ('Watson', 'PERSON'), ('Time', 'ORG')]
Row 18: [('Emma Watson', 'PERSON'), ('Watson', 'PERSON'), ('#MeToo', 'MONEY'), ('UN', 'ORG'), ('Goodwill', 'PERSON'), ('Watson', 'PERSON')]
Row 19: [('Angela Merkel', 'PERSON'), ('Merkel', 'PERSON'), ('Germany', 'GPE'), ('Merkel', 'PERSON'), ('democratic', 'NORP'), ('European', 'NORP'), ('Germany', 'GPE')]
Row 20: [('Angela Merkel', 'PERSON'), ('Germany', 'GPE'), ('Merkel', 'PERSON'), ('the European Union', 'ORG'), ('Merkel', 'PERSON')]
Row 21: [('Angela Merkel', 'PERSON'), ('Germany', 'GPE'), ('Merkel', 'PERSON'), ('democratic', 'NORP'), ('Merkel', 'PERSON'), ('European', 'NORP'), ('Germany', 'GPE')]
Row 22: [('Nelson Mandela', 'PERSON'), ('Mandela', 'PERSON'), ('South Africa', 'GPE'), ('decades', 'DATE'), ('Mandela', 'PERSON'), ('Mandela', 'PERSON')]
Row 23: [('Nelson Mandela', 'PERSON'), ('27 years', 'DATE'), ('Mandela', 'PERSON'), ('South Africa', 'GPE'), ('Mandela', 'PERSON')]
Row 24: [('Nelson Mandela', 'PERSON'), ('Mandela', 'PERSON'), ('millions', 'CARDINAL'), ('Mandela', 'PERSON'), ('democratic', 'NORP')]
Row 25: [('Michelle Obama', 'PERSON'), ('Michelle', 'PERSON')]
Row 26: [('Michelle Obama', 'PERSON'), ('Michelle', 'PERSON'), ('Michelle', 'PERSON')]
Row 27: [('Michelle Obama', 'PERSON'), ('Michelle', 'PERSON'), ('Michelle', 'PERSON')]
Row 28: [('Taylor Swift', 'PERSON'), ('millions', 'CARDINAL'), ('Swift', 'PERSON'), ('Swift', 'PERSON')]
Row 29: [('Taylor Swift', 'PERSON'), ('Swift', 'PERSON')]
Row 30: [('Taylor Swift', 'PERSON'), ('Swift', 'PERSON'), ('Swift', 'PERSON'), ('today', 'DATE')]
Row 31: [('Ellen DeGeneres', 'PERSON'), ('DeGeneres', 'PERSON'), ('millions', 'CARDINAL')]
Row 32: [('Ellen DeGeneres', 'PERSON')]
Row 33: [('Ellen DeGeneres', 'PERSON')]
Row 34: [('Serena Williams', 'PERSON'), ('Williams', 'PERSON'), ('Grand Slam', 'ORG'), ("Serena Williams'", 'PERSON')]
Row 35: [('Serena Williams', 'PERSON'), ('Williams', 'PERSON'), ('Williams', 'PERSON')]
Row 36: [('Serena Williams', 'PERSON'), ('Williams', 'PERSON'), ('Grand Slam', 'GPE'), ("Serena Williams'", 'PERSON')]
Row 37: [('Cristiano Ronaldo', 'PERSON'), ('Ronaldo', 'PERSON'), ('Ronaldo', 'PERSON')]
Row 38: [("Cristiano Ronaldo's", 'PERSON'), ('Ronaldo', 'PERSON'), ('Champions League', 'ORG'), ('Ronaldo', 'PERSON')]
Row 39: [('Cristiano Ronaldo', 'PERSON'), ('Ronaldo', 'ORG'), ('Ronaldo', 'PERSON'), ('Ronaldo', 'ORG')]
Row 40: [('Billie Eilish', 'PERSON'), ('Eilish', 'PERSON'), ('Eilish', 'NORP')]
Row 41: [('Billie Eilish', 'PERSON'), ('millions', 'CARDINAL'), ('Eilish', 'PERSON'), ('Eilish', 'PERSON')]
Row 42: [('Billie Eilish', 'PERSON'), ('Eilish', 'PERSON'), ('Eilish', 'PERSON'), ('Eilish', 'PERSON')]
Row 43: [('Kamala Harris', 'PERSON'), ('Harris', 'PERSON'), ('Harris', 'PERSON')]
Row 44: [('Kamala Harris', 'PERSON'), ('American', 'NORP'), ('Harris', 'PERSON'), ('Harris', 'PERSON')]
Row 45: [('Kamala Harris', 'PERSON'), ('Harris', 'PERSON'), ('Harris', 'PERSON')]
Row 46: [('Priyanka Chopra', 'PERSON'), ('Bollywood', 'GPE'), ('Hollywood', 'GPE'), ('Chopra', 'ORG'), ('Chopra', 'ORG')]
Row 47: [('Priyanka Chopra', 'PERSON'), ('Chopra', 'ORG'), ('Chopra', 'ORG'), ("Priyanka Chopra's", 'PERSON')]
Row 48: [('Priyanka Chopra', 'PERSON'), ('Bollywood', 'GPE'), ('Hollywood', 'GPE'), ('Chopra', 'ORG')]
Row 49: [('Adele', 'PERSON'), ('millions', 'CARDINAL'), ('Adele', 'PERSON')]
Row 50: [('Adele', 'PERSON'), ('Adele', 'PERSON'), ('millions', 'CARDINAL'), ('Adele', 'PERSON')]
Row 51: [('Adele', 'PERSON'), ('Adele', 'PERSON'), ('Adele', 'PERSON')]
Row 52: [('Stephen Hawking', 'PERSON')]
Row 53: [('Stephen Hawking', 'PERSON'), ('A Brief History of Time', 'WORK_OF_ART')]
Row 54: [('Stephen Hawking', 'PERSON'), ('years', 'DATE')]
Row 55: [('Meghan Markle', 'PERSON'), ('Markle', 'ORG'), ('Markle', 'ORG')]
Row 56: [('Meghan Markle', 'PERSON'), ('Markle', 'ORG'), ('Markle', 'ORG')]
Row 57: [('Meghan Markle', 'PERSON'), ('Markle', 'ORG'), ('Markle', 'ORG')]
Row 58: [('Tim Cook', 'PERSON'), ('Apple', 'ORG'), ('Cook', 'PERSON'), ('Cook', 'PERSON')]
Row 59: [('Tim Cook', 'PERSON'), ('Apple', 'ORG'), ('Cook', 'PERSON'), ('Cook', 'PERSON')]
Row 60: [('Tim Cook', 'PERSON'), ('Cook', 'PERSON'), ('Cook', 'PERSON')]

In [ ]:
for index, row in data_Spacy.iterrows():
    paragraph = row['paragraph']
    doc = nlp(paragraph)
    entities = [(entity.text, entity.label_) for entity in doc.ents if entity.label_ == 'PERSON']
    print(f"Row {index+1}: {entities}")

Row 1: [('Barack Obama', 'PERSON'), ('Obama', 'PERSON')]
Row 2: [('Barack Obama', 'PERSON'), ('Obama', 'PERSON')]
Row 3: [('Barack Obama', 'PERSON'), ('Obama', 'PERSON'), ('Obama', 'PERSON')]
Row 4: [('Malala Yousafzai', 'PERSON'), ('Malala', 'PERSON')]
Row 5: [('Malala Yousafzai', 'PERSON'), ('Malala', 'PERSON'), ('Malala', 'PERSON')]
Row 6: [('Malala Yousafzai', 'PERSON'), ('Malala', 'PERSON'), ('Malala', 'PERSON')]
Row 7: []
Row 8: []
Row 9: []
Row 10: [('Harry Potter', 'PERSON'), ('Rowling', 'PERSON'), ('Rowling', 'PERSON')]
Row 11: [('J.K. Rowling', 'PERSON'), ('Harry Potter', 'PERSON'), ('Rowling', 'PERSON'), ('Rowling', 'PERSON')]
Row 12: [('J.K. Rowling', 'PERSON'), ('Harry Potter', 'PERSON'), ('Rowling', 'PERSON'), ('Harry Potter', 'PERSON'), ('Dumbledore', 'PERSON'), ('Rowling', 'PERSON')]
Row 13: [('Oprah Winfrey', 'PERSON'), ('Oprah', 'PERSON'), ('Oprah', 'PERSON')]
Row 14: [('Oprah Winfrey', 'PERSON'), ('Oprah', 'PERSON'), ('Oprah', 'PERSON')]
Row 15: [('Oprah Winfrey', 'PERSON'), ('Oprah', 'PERSON'), ('Oprah', 'PERSON'), ('Oprah', 'PERSON')]
Row 16: [('Emma Watson', 'PERSON'), ('Hermione Granger', 'PERSON'), ('Harry Potter', 'PERSON'), ('Watson', 'PERSON'), ('Watson', 'PERSON'), ('Goodwill', 'PERSON')]
Row 17: [('Emma Watson', 'PERSON'), ('Watson', 'PERSON')]
Row 18: [('Emma Watson', 'PERSON'), ('Watson', 'PERSON'), ('Goodwill', 'PERSON'), ('Watson', 'PERSON')]
Row 19: [('Angela Merkel', 'PERSON'), ('Merkel', 'PERSON'), ('Merkel', 'PERSON')]
Row 20: [('Angela Merkel', 'PERSON'), ('Merkel', 'PERSON'), ('Merkel', 'PERSON')]
Row 21: [('Angela Merkel', 'PERSON'), ('Merkel', 'PERSON'), ('Merkel', 'PERSON')]
Row 22: [('Nelson Mandela', 'PERSON'), ('Mandela', 'PERSON'), ('Mandela', 'PERSON'), ('Mandela', 'PERSON')]
Row 23: [('Nelson Mandela', 'PERSON'), ('Mandela', 'PERSON'), ('Mandela', 'PERSON')]
Row 24: [('Nelson Mandela', 'PERSON'), ('Mandela', 'PERSON'), ('Mandela', 'PERSON')]
Row 25: [('Michelle Obama', 'PERSON'), ('Michelle', 'PERSON')]
Row 26: [('Michelle Obama', 'PERSON'), ('Michelle', 'PERSON'), ('Michelle', 'PERSON')]
Row 27: [('Michelle Obama', 'PERSON'), ('Michelle', 'PERSON'), ('Michelle', 'PERSON')]
Row 28: [('Taylor Swift', 'PERSON'), ('Swift', 'PERSON'), ('Swift', 'PERSON')]
Row 29: [('Taylor Swift', 'PERSON'), ('Swift', 'PERSON')]
Row 30: [('Taylor Swift', 'PERSON'), ('Swift', 'PERSON'), ('Swift', 'PERSON')]
Row 31: [('Ellen DeGeneres', 'PERSON'), ('DeGeneres', 'PERSON')]
Row 32: [('Ellen DeGeneres', 'PERSON')]
Row 33: [('Ellen DeGeneres', 'PERSON')]
Row 34: [('Serena Williams', 'PERSON'), ('Williams', 'PERSON'), ("Serena Williams'", 'PERSON')]
Row 35: [('Serena Williams', 'PERSON'), ('Williams', 'PERSON'), ('Williams', 'PERSON')]
Row 36: [('Serena Williams', 'PERSON'), ('Williams', 'PERSON'), ("Serena Williams'", 'PERSON')]
Row 37: [('Cristiano Ronaldo', 'PERSON'), ('Ronaldo', 'PERSON'), ('Ronaldo', 'PERSON')]
Row 38: [("Cristiano Ronaldo's", 'PERSON'), ('Ronaldo', 'PERSON'), ('Ronaldo', 'PERSON')]
Row 39: [('Cristiano Ronaldo', 'PERSON'), ('Ronaldo', 'PERSON')]
Row 40: [('Billie Eilish', 'PERSON'), ('Eilish', 'PERSON')]
Row 41: [('Billie Eilish', 'PERSON'), ('Eilish', 'PERSON'), ('Eilish', 'PERSON')]
Row 42: [('Billie Eilish', 'PERSON'), ('Eilish', 'PERSON'), ('Eilish', 'PERSON'), ('Eilish', 'PERSON')]
Row 43: [('Kamala Harris', 'PERSON'), ('Harris', 'PERSON'), ('Harris', 'PERSON')]
Row 44: [('Kamala Harris', 'PERSON'), ('Harris', 'PERSON'), ('Harris', 'PERSON')]
Row 45: [('Kamala Harris', 'PERSON'), ('Harris', 'PERSON'), ('Harris', 'PERSON')]
Row 46: [('Priyanka Chopra', 'PERSON')]
Row 47: [('Priyanka Chopra', 'PERSON'), ("Priyanka Chopra's", 'PERSON')]
Row 48: [('Priyanka Chopra', 'PERSON')]
Row 49: [('Adele', 'PERSON'), ('Adele', 'PERSON')]
Row 50: [('Adele', 'PERSON'), ('Adele', 'PERSON'), ('Adele', 'PERSON')]
Row 51: [('Adele', 'PERSON'), ('Adele', 'PERSON'), ('Adele', 'PERSON')]
Row 52: [('Stephen Hawking', 'PERSON')]
Row 53: [('Stephen Hawking', 'PERSON')]
Row 54: [('Stephen Hawking', 'PERSON')]
Row 55: [('Meghan Markle', 'PERSON')]
Row 56: [('Meghan Markle', 'PERSON')]
Row 57: [('Meghan Markle', 'PERSON')]
Row 58: [('Tim Cook', 'PERSON'), ('Cook', 'PERSON'), ('Cook', 'PERSON')]
Row 59: [('Tim Cook', 'PERSON'), ('Cook', 'PERSON'), ('Cook', 'PERSON')]
Row 60: [('Tim Cook', 'PERSON'), ('Cook', 'PERSON'), ('Cook', 'PERSON')]

In [ ]:
def extract_first_entity(paragraph):
    doc = nlp(paragraph)
    entities = [entity.text for entity in doc.ents if entity.label_ == 'PERSON']
    if entities:
        return entities[0]
    else:
        return ''

In [ ]:
data_Spacy['entity'] = data_Spacy['paragraph'].apply(extract_first_entity)

In [ ]:
data_Spacy.to_csv("/content/drive/My Drive/APP II-FINAL PROJECT/data/paragraphs_entity_Spacy.csv", index=False)

NER Evaluation

In [ ]:
df = pd.read_csv("./data/paragraphs_entity_Spacy.csv")
df.head()

,paragraph,name,entity
0,"Barack Obama, the charismatic leader made hist...",Barack Obama,Barack Obama
1,"In the annals of American history, few names r...",Barack Obama,Barack Obama
2,"Barack Obama, the transformative figure in Ame...",Barack Obama,Barack Obama
3,Malala Yousafzai has become a global symbol of...,Malala Yousafzai,Malala Yousafzai
4,The name Malala Yousafzai reverberates with th...,Malala Yousafzai,Malala Yousafzai

In [ ]:
from sklearn.metrics import classification_report

gold_names = df["name"].tolist()
predicted_names = df["entity"].tolist()
#predicted_names[37] = predicted_names[37].replace("Cristiano Ronaldo\'s", "Cristiano Ronaldo")
#print(predicted_names[37])
report = classification_report(gold_names, predicted_names)

print(report)

                     precision    recall  f1-score   support

              Adele       1.00      1.00      1.00         3
      Angela Merkel       1.00      1.00      1.00         3
       Barack Obama       1.00      1.00      1.00         3
            Beyoncé       0.00      0.00      0.00         3
      Billie Eilish       1.00      1.00      1.00         3
  Cristiano Ronaldo       1.00      0.67      0.80         3
Cristiano Ronaldo's       0.00      0.00      0.00         0
    Ellen DeGeneres       1.00      1.00      1.00         3
        Emma Watson       1.00      1.00      1.00         3
       Harry Potter       0.00      0.00      0.00         0
       J.K. Rowling       1.00      0.67      0.80         3
      Kamala Harris       1.00      1.00      1.00         3
   Malala Yousafzai       1.00      1.00      1.00         3
      Meghan Markle       1.00      1.00      1.00         3
     Michelle Obama       1.00      1.00      1.00         3
     Nelson Mandela       1.00      1.00      1.00         3
      Oprah Winfrey       1.00      1.00      1.00         3
    Priyanka Chopra       1.00      1.00      1.00         3
    Serena Williams       1.00      1.00      1.00         3
    Stephen Hawking       1.00      1.00      1.00         3
       Taylor Swift       1.00      1.00      1.00         3
           Tim Cook       1.00      1.00      1.00         3
                nan       0.00      0.00      0.00         0

           accuracy                           0.92        60
          macro avg       0.83      0.80      0.81        60
       weighted avg       0.95      0.92      0.93        60

/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.10/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

J.K. Rowling 2/3 Correct --- 1 was selected as harry potter

Beyonce 0/3 correct - 3 was classified as ORG

Cristinao Ronaldo 2/3 correct, 1 was selected as Cristiano Ronaldo's

1+3+1 = 5

55/60